:root {
  --blue-color: #4d5ae5;
  --black-color: #2e2f42;
  --grey-color: #434455;
  --white-color: #ffffff;
  --milk-color: #f4f4fd;
  --light-grey-color: #e7e9fc;
  --button-blue-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--grey-color);
}

.header-logo {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.header-logo-span {
  color: var(--black-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--blue-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.address-mail {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

.address-list .address-mail:hover,
.address-list .address-mail:focus {
  color: var(--blue-color);
}

.address-tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

.address-list .address-tel:hover,
.address-list .address-tel:focus {
  color: var(--blue-color);
}

.hero {
  background: var(--black-color);
}

.hero-title {
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--blue-color);
  padding: 16px 32px;
}

.main-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-list {
  list-style: none;
}

.main-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.main-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.work-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--black-color);
}

.work-list {
  list-style: none;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--black-color);
}

.team-list {
  list-style: none;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: var(--black-color);
}

.footer-logo {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.footer-logo-span {
  color: var(--milk-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-grey-color);
}

/*------------------PORTFOLIO----------------*/

button:hover,
button:focus {
  color: var(--white-color);
  background: #404bbf;
}

.button-item-all {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--button-blue-color);
}

.button-item-website {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--button-blue-color);
}

.button-item-app {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--button-blue-color);
}

.button-item-design {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--button-blue-color);
}

.button-item-marketing {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--button-blue-color);
}

.concept-title,
.button-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.concept-subtitle,
.health-title,
.service-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.concept-text,
.health-text,
.service-tex {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
